$sans-stack: "ff-speak-web", "Helvetica", Arial, sans-serif;
$serif-stack: "ff-meta-serif-web-pro", "Georgia", "Times New Roman", serif;

h1, h2, h3, h4, h5, h6, span, li, a {
	font-family: #{$sans-stack};
	&.serif {
		font-family: #{$serif-stack};
	}
}

p {font-family: #{$serif-stack};}

